<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>831775947683-9b6l3dbca4ajm73q116slel0o8mb2mv1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.831775947683-9b6l3dbca4ajm73q116slel0o8mb2mv1</string>
	<key>API_KEY</key>
	<string>AIzaSyBo5DmvifEazV3gFxLujV4wAT8FYpO7UhM</string>
	<key>GCM_SENDER_ID</key>
	<string>831775947683</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.task.task</string>
	<key>PROJECT_ID</key>
	<string>task-bb8c5</string>
	<key>STORAGE_BUCKET</key>
	<string>task-bb8c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:831775947683:ios:ec614af3d86e7587497816</string>
</dict>
</plist>